<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/HRCanvasWatch" version="1.0.0" viewmodes="maximized">
    <tizen:application id="oDqP7yY88t.HRCanvasWatch" package="oDqP7yY88t" required_version="3.0" ambient_support="enable"/>
    <tizen:category name="http://tizen.org/category/wearable_clock"/>
    <content src="index.html"/>
    <feature name="tizen.org/feature/humanactivitymonitor"/>
    <feature name="tizen.org/feature/location.gps"/>
    <feature name="tizen.org/feature/network.internet"/>
    <feature name="tizen.org/feature/screen.shape.circle"/>
    <feature name="tizen.org/feature/sensor.barometer"/>
    <feature name="tizen.org/feature/sensor.heart_rate_monitor"/>
    <feature name="tizen.org/feature/sensor.pedometer"/>
    <feature name="tizen.org/feature/location.batch"/>
    <feature name="tizen.org/feature/screen.size.normal.360.360"/>
    <feature name="tizen.org/feature/sensor.accelerometer"/>
    <feature name="tizen.org/feature/sensor.gravity"/>
    <icon src="icon.png"/>
    <name>HRCanvasWatch</name>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.read"/>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.write"/>
    <tizen:privilege name="http://tizen.org/privilege/alarm"/>
    <tizen:privilege name="http://tizen.org/privilege/system"/>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/location"/>
    <tizen:privilege name="http://tizen.org/privilege/healthinfo"/>
    <tizen:profile name="wearable"/>
    <tizen:setting background-support="disable" encryption="disable" hwkey-event="enable"/>
</widget>
