html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-y: hidden;
}

#container {
    display: -webkit-flex;
    -webkit-align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index:1;
} 

#canvas-layout {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

#canvas-content {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
#cal_holder{
	position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    display:  none;
}
#cal_holder.on {
	display: -webkit-flex;
}
#calendar{
	top:0px;
	left:0px;
	
    margin-left: 50px ; 
    margin-top: 80px;
	position: absolute;
	width: 250px;
  	height: 180px;
  
    padding: 10px; /* mind the gap */
    z-index: 3;
    opacity:0;
    transition: 5s;
    transition-timing-function: ease;
    visibility: hidden;
  --aug-border: 3px;
  --aug-inset: 3px;
  --aug-border-bg: linear-gradient(purple, cyan);
  --aug-inset-bg: #000000;
  --aug-inset-opacity: 0.9; 
  --aug-b-width: 60%;
  --aug-t-width: 60%;
  --aug-b-height: 5px;
  --aug-t-height: 5px;
  --aug-bl: 5px;
  --aug-tl: 5px;
  --aug-br: 5px;
  --aug-tr: 5px;
   /*transform-origin: 100px 50%;*/
    /*transform: perspective(700px) rotateY(15deg); */
    
   
    
    /*transform: perspective(700px) rotateY(0deg); */
}
#calendar.visible {
    /*transition-duration: 5s, 5s;
    transition-property: opacity, transform;
    transition-timing-function: ease;*/
	transform: perspective(700px) rotateY(15deg); 
	opacity:1;
	visibility: visible;
}


@font-face {
    font-family: 'artill_clean_icons';
    src: url('../data/artill_clean_icons.otf');
}



@font-face {
    font-family: 'FutureNow';
    src: url('../data/FutureNow.ttf');
}

/*
@font-face {
    font-family: 'KillTheNoise';
    src: url('../data/KillTheNoise.otf');
}
*/
@media (-tizen-geometric-shape: circle) {




    .btn-apply, .btn-erase {
        color: transparent;
    }

    .ui-popup .ui-popup-content {
        text-align: center;
    }


}
