* {
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  border: 0;
  /* 1 */

  -ms-interpolation-mode: bicubic;
  /* 2 */

}
/*
 * Corrects overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-y: hidden;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#container {
    display: -webkit-flex;
    -webkit-align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index:1;
} 

#canvas-layout {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

#canvas-content {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
#cal_holder{
	position: relative;
    width: 100%;
    height: 100%;
    z-index: 3;
    visibility:  hidden;
    transition: opacity 0.1s ease;
    opacity:0.5;
    user-select: none;
    -moz-user-select: none;
}
#cal_holder.on {
	position: absolute;
	visibility:  visible;
	transition: opacity 0.1s ease;
	transition:0.1s;
	opacity:1;
}
#calendar{
	position: relative;
	width: 280px;
  	height: 200px;
    
    padding: 10px; /* mind the gap */
    z-index: 3;
    opacity:0.1;
    transition: opacity 1s ease, transform 2s ease;
    visibility: hidden;
  --aug-border: 3px;
  --aug-inset: 3px;
  --aug-border-bg: linear-gradient(purple, cyan);
  --aug-inset-bg: #000000;
  --aug-inset-opacity: 0.9; 
  --aug-b-width: 60%;
  --aug-t-width: 60%;
  --aug-b-height: 5px;
  --aug-t-height: 5px;
  --aug-bl: 5px;
  --aug-tl: 5px;
  --aug-br: 5px;
  --aug-tr: 5px;
   /*transform-origin: 100px 50%;*/
    transform: perspective(700px) rotateY(0deg); 
    
   
    
    /*transform: perspective(700px) rotateY(0deg); */
}
#calendar.on {
	top:0px;
	left:0px;
	
    margin-left: 50px ; 
    margin-top: 80px;
	position: absolute;
	transform: perspective(700px) rotateY(15deg); 
	opacity:1;
	transition: opacity 1s ease, transform 2s ease;
	visibility: visible;
}


@font-face {
    font-family: 'artill_clean_icons';
    src: url('../data/artill_clean_icons.otf');
}



@font-face {
    font-family: 'FutureNow';
    src: url('../data/FutureNow.ttf');
}

/*
@font-face {
    font-family: 'KillTheNoise';
    src: url('../data/KillTheNoise.otf');
}
*/
@media (-tizen-geometric-shape: circle) {




    .btn-apply, .btn-erase {
        color: transparent;
    }

    .ui-popup .ui-popup-content {
        text-align: center;
    }


}
