* {
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
	--color1: rgb(24,82,129); 
	--color2: rgb(192,221,243);
}
img {
  border: 0;
  /* 1 */

  -ms-interpolation-mode: bicubic;
  /* 2 */

}
/*
 * Corrects overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-y: hidden;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    display:block;
}

#container {
    display: -webkit-flex;
    -webkit-align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index:1;
} 
#canvas-particles {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
#canvas-background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#canvas-content {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;

}
#canvas-final {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
}
#widget_holder{
	position: relative;
    width: 100%;
    height: 100%;
    z-index: 10;
    visibility:  hidden;
    transition-property: opacity;
	transition-duration: 0.05s;
	transition-timing-function: linear;
    opacity:0.1;
    user-select: none;
    -moz-user-select: none;
    font-family: 'FutureNow';
}
#widget_holder.on {
	width: 100%;
    height: 100%;
	position: absolute;
	visibility:  visible;
	opacity: 1;
}
#overflower{
	width: 100%;
    height: 100%;
    overflow:hidden;
}
#calendar, #weather{
	position: absolute;
	width: 290px;
  	height: 260px;
    padding: 10px; /* mind the gap */
    z-index: 11;

    margin-left: 35px ; 
    margin-top: 50px;
    
    
  --aug-border: 2px;
  --aug-inset: 4px;
  --aug-border-bg: linear-gradient(to right, var(--color1), var(--color2));
  --aug-inset-bg: radial-gradient(  at top right,      var(--color1),      transparent 90%    ),    radial-gradient(      farthest-side at top left,      var(--color2),      transparent 90%    ),    0 0/72px 72px repeating-radial-gradient(var(--color1),      #000000 1px,      transparent 1px,      transparent 13px    ), #000011 ;  
  --aug-inset-opacity: 0.9;  
  --aug-b-width: 60%;
  --aug-t-width: 60%;
  --aug-b-height: 5px;
  --aug-t-height: 5px;
  
  --aug-l-height: 60%;
  --aug-r-height: 60%;
  --aug-l-width: 3px;
  --aug-r-width: 3px;
  
  --aug-bl: 20px;
  --aug-tl: 20px;
  --aug-br: 20px;
  --aug-tr: 20px; 
     will-change: transform;
   scroll-behavior: smooth;
    
    /*transform: perspective(700px) rotateY(0deg); */
}

#calendar.off, #weather.off {
	
	transform: perspective(700px) rotateY(0deg) translateY(50px) translateX(60px) scale(0.35); 
	opacity:0;
	transition-property: opacity, transform;
	transition-duration: 0.3s; 
	transition-timing-function: ease-in;

}
 #weather.off {
 	transform: perspective(700px) rotateY(0deg) translateY(50px) translateX(-60px) scale(0.35); 
 }

#calendar.on, #weather.on {
	
	transform: perspective(700px) rotateY(0deg) ; 
	transition-property: opacity, transform;
	transition-duration: 0.3s;
	transition-timing-function: ease-in;
	opacity:1;
}

#up, #down{
	
  position: absolute;
	margin-left: 140px;
  
  width: 80px;
  height: 40px;
  padding: 10px;
  font-size: 25px;
  text-align:center;
  white-space: nowrap;
  background: #13242c;
  text-shadow: 0 0 20px #fefcfe;
  z-index:10;
  opacity:0;

}
#up {
	top:7px;
}
#down{
 	bottom:7px;
}
#down.off, #up.down {
	opacity:0;

}

#calendar .event {

	position: relative;
	padding: 5px;
	margin: 5px auto;
	--aug-inset: 3px;
	--aug-inset-bg: rgba(0, 0, 0, 0.15);
	--aug-border: 2px;
	--aug-border-bg: linear-gradient(to right, var(--color1), var(--color2));
	background-color:transparent; 
	--aug-tl: 5px;
	--aug-br: 5px;
	--aug-bl: 10px;
	--aug-tr: 10px;
	z-index:12;
	min-height: 40px;
	width: 97%;
	color:white;
	
	transition: --aug-inset-bg 0.2s ease, color 0.2s ease; 
}

#weather .forecast {

	position: relative;
	padding: 5px;
	margin: 5px auto;
	--aug-inset: 3px;
	--aug-border: 2px;
	--aug-border-bg: linear-gradient(to right, var(--color1), var(--color2));
	background-color:transparent; 
	--aug-tl: 5px;
	--aug-br: 5px;
	--aug-bl: 10px;
	--aug-tr: 10px;
	z-index:12;
	min-height: 83px;
	width: 97%;
	color:white;
	overflow:hidden;
	transition: --aug-inset-bg 0.2s ease, color 0.2s ease; 
}
#weather .forecast .block {
	padding: 3px;
	position: relative;
	float:left;
	margin: 2px 2px;
	height: 70px;
	width: 46px;
	--aug-tl: 5px;
	--aug-br: 5px;
	--aug-bl: 5px;
	--aug-tr: 5px;
	--aug-inset: 2px;
	--aug-inset-bg: rgba(0, 0, 0, 0.30);
	/*--aug-border: 1px;
	--aug-border-bg: linear-gradient(to right, var(--color2), var(--color1));*/ 
	background-color:transparent; 
	text-align:center;
}
#weather .forecast .block .hour, #weather .forecast .block .temp {
	position: relative;
	width: 40px;
	height: 5px;
	font-size:16px;
	line-height:16px;
	font-family:FutureNow;
	color:#FFFFFF;
}
#weather .forecast .block .icon {
	position: relative;
	width: 40px;
	height: 42px;
	font-size:38px;
	line-height:38px;
	font-family: artill_clean_icons;
	color: #FFFFFF;
}
.lastcall{
	width:90%;
	position:relative;
	
	height: 16px;
	margin: 5px 5%;
	text-align:right;
	font-size:16px;
	line-height:16px;
	font-family:FutureNow;
	color: #FFFFFF;
}

#calendar .event.click {
    /*background-color: white;*/
    color:black;
    --aug-inset-bg: rgba(255, 255, 255, 0.50);
    background:  rgba(255, 255, 255, 0.50);
	transition: --aug-inset-bg 0.2s ease, color 0.2s ease, background 0.2 ease;  
}
.dates {
	height: 33px;
	width: 50px;
	font-size:15px; 
	top: 5px;
	left:5px;
	color: #ffffff;
	text-align:center;
	position:absolute;
	z-index:12;
	padding: 5px;
	--aug-inset: 2px;
	--aug-inset-bg: rgba(0, 0, 0, 0.25);
	--aug-border: 2px;
	--aug-border-bg: linear-gradient(to right, var(--color1), var(--color2));
	--aug-tl: 5px;
	--aug-br: 5px;
	--aug-bl: 5px;
	--aug-tr: 5px;
	
}




.dates.fd{
	--aug-inset-bg: linear-gradient(to right, var(--color1), var(--color2));
} 
.dates span{
	position:relative;
	width : 40px;
	height : 13px;
	
	float:left;
} 
.event .title { 
	min-height: 18px;
	width: 195px;
	position: relative;
	margin-top: 0px;
	margin-left:55px;
	font-size:16px;
	/*text-shadow: 0 0 10px cyan;*/
}
.event .location {
	min-height: 15px;
	width: 185px;
	position: relative;
	margin-top: 2px;
	margin-left:55px;
	font-size:14px;
}
#calendar .day, #weather .day{
  /*background-color: rgba(0,255,255, 0.53);*/
  text-shadow: 0 0 10px #000;
  color: #ffffff;
  height: 22px;
  width: 50%;
  margin:5px 5px 5px 1.5%;
  position: relative;
  /*left: 25px;
  bottom: 20px;*/
  --aug-tl: 5px;
  --aug-br: 3px;
  --aug-bl: 5px;
  --aug-tr: 5px;
  --aug-inset-bg:  var(--color1);
  font-size: 15px;
  text-align: right;
  padding-top: 5px;
  padding-right:10px;
	
}
#calendar .day_events  > .event{
	margin-top: -5px;
}
#calendar .day_events  > .event ~ .event {
	margin-top: 5px;
}
#weather .day_weather  > .forecast{
	margin-top: -5px;
}
#weather .day_weather  > .forecast ~ .forecast {
	margin-top: 5px;
}

@font-face {
    font-family: 'artill_clean_icons';
    src: url('../data/artill_clean_icons.otf');
}



@font-face {
    font-family: 'FutureNow';
    src: url('../data/FutureNow.ttf');
}

/*
@font-face {
    font-family: 'KillTheNoise';
    src: url('../data/KillTheNoise.otf');
}
*/
@media (-tizen-geometric-shape: circle) {




    .btn-apply, .btn-erase {
        color: transparent;
    }

    .ui-popup .ui-popup-content {
        text-align: center;
    }


}
